@charset "utf-8";
@import "reset.css";

body {
  position: relative;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  color: #e6edf3;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #0e00486e, #3e00006f);
  animation: flamebackground 5s infinite linear;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  color: #ddb53a;
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav p {
  cursor: pointer;
}

.login {
  background-color: #238636;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 60px;
}

.hero h1 {
  font-size: 36px;
  color: #ff4d4d;
  margin-bottom: 10px;
  text-shadow: 4px 2px #ddb53a;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.track {
  background-color: #bc39be;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

#map {
  width: min(95%, 1000px);
  height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}

@keyframes flamebackground {
  0%, 40%, 80%, 100% {
    background: linear-gradient(to bottom, rgba(7, 0, 35, 0.499), rgba(116, 0, 0, 0.461));
  }
  10%, 50%, 90% {
    background: linear-gradient(to right, rgba(33, 4, 150, 0.503), rgba(137, 1, 1, 0.474));
  }
  20%, 60% {
    background: linear-gradient(to top, rgba(40, 2, 192, 0.458), rgba(198, 0, 0, 0.439));
  }
  30%, 70% {
    background: linear-gradient(to left, rgba(51, 0, 255, 0.476), rgba(255, 0, 0, 0.442));
  }
}