@charset "utf-8";
@import "reset.css";

body {
  background: linear-gradient(to bottom, rgb(14, 0, 72), rgb(62, 0, 0));
  color: #e6edf3;
  font-family: "Press Start 2P", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  color: #ddb53a;
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav p {
  cursor: pointer;
}

.login {
  background-color: #238636;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 60px;
}

.hero h1 {
  font-size: 36px;
  color: #ff4d4d;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.track {
  background-color: #bc39be;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

#map {
  width: min(95%, 1000px);
  height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}